<template>
  <div ref="flexContainer" class="flex-container">
    <div
      v-for="icon in icons"
      :key="icon.text"
      ref="flexItem"
      :class="{ 'sort-mode': sortMode }"
      class="flex-item"
    >
      <div class="icon-wrapper">
        <picture>
          <source :srcset="`${icon.src}, ${icon.src2x} 2x`" />
          <img
            v-disable-dragging
            :src="icon.src"
            :alt="icon.text"
            height="80"
          />
        </picture>
      </div>
    </div>
  </div>
</template>

<script>
import Sortable from 'sortablejs'

export default {
  directives: {
    disableDragging: {
      mounted(el) {
        el.ondragstart = () => false
      }
    }
  },
  data() {
    return {
      icons: [
        {
          src: '/icons/A-80px.png',
          src2x: '/icons/A-512px.png',
          text: 'A'
        },
        {
          src: '/icons/B-80px.png',
          src2x: '/icons/B-512px.png',
          text: 'B'
        },
        {
          src: '/icons/C-80px.png',
          src2x: '/icons/C-512px.png',
          text: 'C'
        },
        {
          src: '/icons/D-80px.png',
          src2x: '/icons/D-512px.png',
          text: 'D'
        },
        {
          src: '/icons/E-80px.png',
          src2x: '/icons/E-512px.png',
          text: 'E'
        },
        {
          src: '/icons/F-80px.png',
          src2x: '/icons/F-512px.png',
          text: 'F'
        },
        {
          src: '/icons/G-80px.png',
          src2x: '/icons/G-512px.png',
          text: 'G'
        },
        {
          src: '/icons/H-80px.png',
          src2x: '/icons/H-512px.png',
          text: 'H'
        },
        {
          src: '/icons/I-80px.png',
          src2x: '/icons/I-512px.png',
          text: 'I'
        },
        {
          src: '/icons/J-80px.png',
          src2x: '/icons/J-512px.png',
          text: 'J'
        },
        {
          src: '/icons/K-80px.png',
          src2x: '/icons/K-512px.png',
          text: 'K'
        }
      ],
      sortMode: false
    }
  },
  mounted() {
    Sortable.create(this.$refs.flexContainer, {
      delay: 400,
      touchStartThreshold: 4,
      animation: 250,
      easing: 'cubic-bezier(0.16, 1, 0.3, 1)',
      onChoose: el => {
        this.sortMode = true
      },
      onUnchoose: el => {
        this.sortMode = false
      }
    })
  }
}
</script>

<style scoped>
.flex-container {
  display: flex;
  flex-flow: row wrap;
  gap: 4px;
  justify-content: flex-start;
  max-width: 1000px;
}

.flex-item {
  flex-basis: 16.6666%;
  flex-grow: 0;
  flex-shrink: 0;
  min-height: 120px;
  width: 16.6666%;
}

@media screen and (max-width: 1000px) {
  .flex-item {
    flex-basis: 24%;
    width: 24%;
  }
}

@media screen and (max-width: 500px) {
  .flex-item {
    flex-basis: 49%;
    width: 49%;
  }
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Vertically center the icons */
  height: 100%;
}

.sort-mode {
  outline-style: dashed;
  outline-width: 2px;
  outline-color: #aa4400;
}
</style>
