body {
  height: 100%;
  background-image: url('../public/background.svg');
  background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: cover;
}
